/* download_category
----------------------------------------------- */
.downloadList {
 background-color:#FFF;
}
.downloadList dl {
 border-top: 1px dotted #DDD;
 padding:13px;
 zoom:1;
 overflow:hidden;
}
.downloadList dt {
 float:left;
}
.downloadList dd {
 float:right;
 text-align:left;
 color:#999;
}
/* download
----------------------------------------------- */
#download {
 padding-bottom: 30px;
 background-color:#FFF;
}
#download .img {
 border-bottom: 1px solid #EEEEEE;
 padding: 10px;
 text-align: center;
}
#download .info {
 padding: 10px;
 line-height: 180%;
}
#download .info h1 {
 font-size: 16px;
 color: #333333;
}
#download .info ul {
 color: #999999;
 padding: 5px 0;
}
#download .info ul li b {
 font-weight:bold;
}
#download .info .btn {
 margin-top:10px;
}
#download .content {
 padding: 15px 0;
}
#download .content img {
 max-width:100%;
}
#download .content h3 {
 height: 35px;
 line-height: 35px;
 color: #777;
 font-weight: bold;
 font-size: 14px;
 border-bottom: 1px solid #EEE;
 padding-left: 10px;
}
#download .content ul {
 padding: 10px;
 color: #888888;
 line-height: 200%;
}
